.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome__container--black {
  background-color: var(--black);
}

.welcome__container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;


}

.welcome_container-sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 100%;
  justify-content: space-around;

}


.saltar{
  height: 20px;
  color: var(--blue);
}

.welcome__img {
  width: 500px;
  height: 300px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imghead{
  height: 240px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
}

.imglogo{
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imglogo-pic{
  height: 100%;
}

.img-welcome {
  display: block;
  height: 100%;
  object-fit: cover;
}

.img-welcome2 {
  display: block;
  box-shadow: 0 0 10px 5px slategrey;
  border-radius: 15px;
  width: 300px;
}

.welcome__text--1 {
  font-family: var(--font-family);
  color: var(--dark-blue-letter);
  text-align: center;
  font-size: 18pt;
}


.welcome__text--bold {
  font-weight: 700;
  color: var(--blue);
}

.welcome__text--2 {
  font-family: var(--font-family);
  color: var(--white);
  text-align: center;
  font-size: 18pt;
}

.slider__circles {
  display: flex;
  justify-content: center;
}

.slider__circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ddd;
  margin: 0 5px;
  cursor: pointer;
}

.slider__circle-active {
  background-color: var(--blue);
}

.welcome__text--1 {
  font-size: 20px;
}
@media screen and (min-width: 600px) {
}


.img-welcome-texto {
  height: 40px;
}